name: CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  IMAGE_NAME_SERVER: ktariayman/connectx-server
  IMAGE_NAME_CLIENT: ktariayman/connectx-client

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 9 
          
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'
          
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
        
      - name: Build shared package
        run: pnpm --filter @connect-x/shared build
        
      - name: Lint and Test
        run: |
          pnpm lint
          pnpm test

  build-and-push:
    needs: lint-and-test
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Server image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: apps/server/Dockerfile
          target: production
          push: true
          tags: ${{ env.IMAGE_NAME_SERVER }}:latest

      - name: Build and push Client image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: apps/client/Dockerfile
          target: production
          build-args: |
             VITE_API_URL=http://localhost:4000
          push: true
          tags: ${{ env.IMAGE_NAME_CLIENT }}:latest
